       CYCLE                    TASK                       JOBID               STATE         EXIT STATUS     TRIES      DURATION
================================================================================================================================
202103231200            gfs_stage_ic                     3818518           SUCCEEDED                   0         1          30.0
202103231200            gfs_waveinit                     3818519           SUCCEEDED                   0         1          36.0
202103231200           gfs_fcst_seg0                     3819206           SUCCEEDED                   0         1        1083.0
202103231200    gfs_atmos_prod_f000-f002                     3819243           SUCCEEDED                   0         1         240.0
202103231200    gfs_atmos_prod_f003-f005                     3819244           SUCCEEDED                   0         1         257.0
202103231200    gfs_atmos_prod_f006-f008                     3819245           SUCCEEDED                   0         1         247.0
202103231200    gfs_atmos_prod_f009-f011                     3819246           SUCCEEDED                   0         1         273.0
202103231200    gfs_atmos_prod_f012-f014                     3819247           SUCCEEDED                   0         1         244.0
202103231200    gfs_atmos_prod_f015-f017                     3819248           SUCCEEDED                   0         1         235.0
202103231200    gfs_atmos_prod_f018-f020                     3819249           SUCCEEDED                   0         1         249.0
202103231200    gfs_atmos_prod_f021-f023                     3819345           SUCCEEDED                   0         1         290.0
202103231200    gfs_atmos_prod_f024-f026                     3819346           SUCCEEDED                   0         1         240.0
202103231200    gfs_atmos_prod_f027-f029                     3819347           SUCCEEDED                   0         1         242.0
202103231200    gfs_atmos_prod_f030-f032                     3819348           SUCCEEDED                   0         1         236.0
202103231200    gfs_atmos_prod_f033-f035                     3819349           SUCCEEDED                   0         1         241.0
202103231200    gfs_atmos_prod_f036-f038                     3819350           SUCCEEDED                   0         1         237.0
202103231200    gfs_atmos_prod_f039-f041                     3819351           SUCCEEDED                   0         1         232.0
202103231200    gfs_atmos_prod_f042-f044                     3819352           SUCCEEDED                   0         1         250.0
202103231200    gfs_atmos_prod_f045-f047                     3819353           SUCCEEDED                   0         1         265.0
202103231200    gfs_atmos_prod_f048-f054                     3819354           SUCCEEDED                   0         1         302.0
202103231200    gfs_atmos_prod_f057-f063                     3819355           SUCCEEDED                   0         1         328.0
202103231200    gfs_atmos_prod_f066-f072                     3819356           SUCCEEDED                   0         1         281.0
202103231200    gfs_atmos_prod_f075-f081                     3819357           SUCCEEDED                   0         1         288.0
202103231200    gfs_atmos_prod_f084-f090                     3819358           SUCCEEDED                   0         1         287.0
202103231200    gfs_atmos_prod_f093-f099                     3819359           SUCCEEDED                   0         1         271.0
202103231200    gfs_atmos_prod_f102-f108                     3819360           SUCCEEDED                   0         1         262.0
202103231200    gfs_atmos_prod_f111-f114                     3819361           SUCCEEDED                   0         1         195.0
202103231200    gfs_atmos_prod_f117-f120                     3819362           SUCCEEDED                   0         1         174.0
202103231200     gfs_ocean_prod_f006                     3819363           SUCCEEDED                   0         1          29.0
202103231200     gfs_ocean_prod_f012                     3819364           SUCCEEDED                   0         1          29.0
202103231200     gfs_ocean_prod_f018                     3819365           SUCCEEDED                   0         1          38.0
202103231200     gfs_ocean_prod_f024                     3819366           SUCCEEDED                   0         1          23.0
202103231200     gfs_ocean_prod_f030                     3819367           SUCCEEDED                   0         1          39.0
202103231200     gfs_ocean_prod_f036                     3819368           SUCCEEDED                   0         1          23.0
202103231200     gfs_ocean_prod_f042                     3819369           SUCCEEDED                   0         1          30.0
202103231200     gfs_ocean_prod_f048                     3819463           SUCCEEDED                   0         1          41.0
202103231200     gfs_ocean_prod_f054                     3819466           SUCCEEDED                   0         1          23.0
202103231200     gfs_ocean_prod_f060                     3819468           SUCCEEDED                   0         1          24.0
202103231200     gfs_ocean_prod_f066                     3819472           SUCCEEDED                   0         1          40.0
202103231200     gfs_ocean_prod_f072                     3819460           SUCCEEDED                   0         1          28.0
202103231200     gfs_ocean_prod_f078                     3819461           SUCCEEDED                   0         1          43.0
202103231200     gfs_ocean_prod_f084                     3819462           SUCCEEDED                   0         1          25.0
202103231200     gfs_ocean_prod_f090                     3819464           SUCCEEDED                   0         1          23.0
202103231200     gfs_ocean_prod_f096                     3819465           SUCCEEDED                   0         1          40.0
202103231200     gfs_ocean_prod_f102                     3819467           SUCCEEDED                   0         1          38.0
202103231200     gfs_ocean_prod_f108                     3819469           SUCCEEDED                   0         1          29.0
202103231200     gfs_ocean_prod_f114                     3819470           SUCCEEDED                   0         1          40.0
202103231200     gfs_ocean_prod_f120                     3819471           SUCCEEDED                   0         1          26.0
202103231200       gfs_ice_prod_f006                     3819250           SUCCEEDED                   0         1          47.0
202103231200       gfs_ice_prod_f012                     3819251           SUCCEEDED                   0         1          31.0
202103231200       gfs_ice_prod_f018                     3819252           SUCCEEDED                   0         1          46.0
202103231200       gfs_ice_prod_f024                     3819473           SUCCEEDED                   0         1          27.0
202103231200       gfs_ice_prod_f030                     3819474           SUCCEEDED                   0         1          39.0
202103231200       gfs_ice_prod_f036                     3819475           SUCCEEDED                   0         1          25.0
202103231200       gfs_ice_prod_f042                     3819476           SUCCEEDED                   0         1          39.0
202103231200       gfs_ice_prod_f048                     3819477           SUCCEEDED                   0         1          24.0
202103231200       gfs_ice_prod_f054                     3819478           SUCCEEDED                   0         1          39.0
202103231200       gfs_ice_prod_f060                     3819479           SUCCEEDED                   0         1          26.0
202103231200       gfs_ice_prod_f066                     3819480           SUCCEEDED                   0         1          40.0
202103231200       gfs_ice_prod_f072                     3819481           SUCCEEDED                   0         1          25.0
202103231200       gfs_ice_prod_f078                     3819482           SUCCEEDED                   0         1          41.0
202103231200       gfs_ice_prod_f084                     3819483           SUCCEEDED                   0         1          27.0
202103231200       gfs_ice_prod_f090                     3819484           SUCCEEDED                   0         1          32.0
202103231200       gfs_ice_prod_f096                     3819538           SUCCEEDED                   0         1          49.0
202103231200       gfs_ice_prod_f102                     3819539           SUCCEEDED                   0         1          34.0
202103231200       gfs_ice_prod_f108                     3819540           SUCCEEDED                   0         1          39.0
202103231200       gfs_ice_prod_f114                     3819541           SUCCEEDED                   0         1          23.0
202103231200       gfs_ice_prod_f120                     3819542           SUCCEEDED                   0         1          28.0
202103231200    gfs_wavepostsbs_f000-f002                     3819253           SUCCEEDED                   0         1          98.0
202103231200    gfs_wavepostsbs_f003-f005                     3819254           SUCCEEDED                   0         1          96.0
202103231200    gfs_wavepostsbs_f006-f008                     3819255           SUCCEEDED                   0         1          97.0
202103231200    gfs_wavepostsbs_f009-f011                     3819256           SUCCEEDED                   0         1          98.0
202103231200    gfs_wavepostsbs_f012-f014                     3819257           SUCCEEDED                   0         1          94.0
202103231200    gfs_wavepostsbs_f015-f017                     3819258           SUCCEEDED                   0         1          97.0
202103231200    gfs_wavepostsbs_f018-f020                     3819259           SUCCEEDED                   0         1          95.0
202103231200    gfs_wavepostsbs_f021-f023                     3819260           SUCCEEDED                   0         1          95.0
202103231200    gfs_wavepostsbs_f024-f026                     3819261           SUCCEEDED                   0         1          95.0
202103231200    gfs_wavepostsbs_f027-f029                     3819262           SUCCEEDED                   0         1          97.0
202103231200    gfs_wavepostsbs_f030-f032                     3819263           SUCCEEDED                   0         1          95.0
202103231200    gfs_wavepostsbs_f033-f035                     3819264           SUCCEEDED                   0         1          94.0
202103231200    gfs_wavepostsbs_f036-f038                     3819543           SUCCEEDED                   0         1          96.0
202103231200    gfs_wavepostsbs_f039-f041                     3819544           SUCCEEDED                   0         1          97.0
202103231200    gfs_wavepostsbs_f042-f044                     3819545           SUCCEEDED                   0         1          97.0
202103231200    gfs_wavepostsbs_f045-f047                     3819546           SUCCEEDED                   0         1          97.0
202103231200    gfs_wavepostsbs_f048-f054                     3819547           SUCCEEDED                   0         1          97.0
202103231200    gfs_wavepostsbs_f057-f063                     3819548           SUCCEEDED                   0         1          96.0
202103231200    gfs_wavepostsbs_f066-f072                     3819549           SUCCEEDED                   0         1          97.0
202103231200    gfs_wavepostsbs_f075-f081                     3819551           SUCCEEDED                   0         1          95.0
202103231200    gfs_wavepostsbs_f084-f090                     3819550           SUCCEEDED                   0         1          96.0
202103231200    gfs_wavepostsbs_f093-f099                     3819552           SUCCEEDED                   0         1         100.0
202103231200    gfs_wavepostsbs_f102-f108                     3819553           SUCCEEDED                   0         1          96.0
202103231200    gfs_wavepostsbs_f111-f114                     3819554           SUCCEEDED                   0         1          68.0
202103231200    gfs_wavepostsbs_f117-f120                     3819555           SUCCEEDED                   0         1          70.0
202103231200      gfs_wavepostbndpnt                     3819556           SUCCEEDED                   0         1         468.0
202103231200    gfs_wavepostbndpntbll                     3819557           SUCCEEDED                   0         1          79.0
202103231200         gfs_wavepostpnt                     3819559           SUCCEEDED                   0         1         184.0
202103231200             gfs_cleanup    druby://10.14.20.226:38089          SUBMITTING                   -         0           0.0
